:root{
    --default-font-size: 20px;
}

/* class selector */
.Attendance{

}

.Title {
    position: sticky;
    top: 0;

    background-color: lightsalmon;

    margin:auto;
    width: 45%;
    height: 100%;
    padding: 20px;
    border: 5px solid black;

}

/* id selector */
#Meeting_content{

}

#Attendance{
    text-align: center;
    position: static;

    margin:auto;
    width: 50%;
    height: 100%;
    padding: 20px;
    border: 5px solid black;
    
    background-color: lightgray;
}

#Feedback_Form {
    text-align: center;
    position: center;
    margin:auto;
    width: 50%;
    height: 100%;
    padding: 20px;
    border: 3px solid black;
}


/* universal selector */
* {
    font-size: var(--default-font-size, 20px);
    text-align: center;
}

/* element selector for a tags */
a {

}

/* attribute selector for text input (the bottom form) */
input[type="text"] {

}

button {
    background-color: red;
}

/* psuedo class css and selector */
button:hover {
    background-color: yellow;
    color: black;
    transform: scale(1.1);
}

button:active{
    background-color: green;
    color: white;
    transform: scale(0.9);
}

ul, ol{
    list-style-position: inside; 
}

/* selector list */
/* applies the same css for 1, 2, 3 */
h1, h2, h3 {
    
}

/* descendant combinator (all p tags in divs) */
div p {

}

/* Child Combinator */
div > p{

}

/* General sibling combinator */
p.question ~ p.instruction {

}

/* Adjacent sibling combinator */
p.question + input.color {

}

/* Combining Two Selectors */
div.Agenda {

}

/* :has() selector for image*/
div:has(img) {
    
}