:root{
    --default-font-size: 15pt;
}

/* class selector */
.Title {
    position: sticky;
    top: 0;
    background-color: lightsalmon;
    margin:auto;
    width: 40vw;
    padding: 5px;
    
    border: 5px;
    border-style:solid;
    border-color: #000000;
    
    font-family: 'Playwrite AU SA', sans-serif;
    font-size: 1.5em;
}

/* id selector */
#text_recording {
    width: 10%;
}

#Recordings {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

#Attendance{
    text-align: center;
    margin:auto;
    width: 50%;
    height: 100%;
    padding: 20px;
    border: 5px solid black;
    background-color: hsl(0, 0%, 83%);
}

#Feedback_Form {
    text-align: center;
    margin:auto;
    width: 50%;
    height: 100%;
    padding: 20px;
    border: 3px solid black;
}

/* universal selector */
* {
    font-size: var(--default-font-size, 10pt);
    text-align: center;
    border-radius: 10px;
}

/* element selector*/
fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
}

img {
    min-width: 6in;
    min-height: 6in;
    max-width: 10in;
}

/* attribute selector for text input (the bottom form) */
input[type="text"] {
    background-color: bisque;
}

footer {
    display: none;
}

button {
    background-color: color(display-p3 1 0 0 / 1);
}

h2 {
    font-size: 30pt;
    margin: 1px;
    text-decoration:underline;
}

/* psuedo class css and selector */
button:hover {
    background-color: yellow;
    color: black;
    transform: scale(1.1);
}

button:active{
    background-color: green;
    color: white;
    transform: scale(0.9);
}

/* selector list */
ul, ol, li {
    list-style-position: inside; 
    position: relative;
    right: 10px;
}

/* descendant combinator (all p tags in divs) */
ul li {
    color: darkgreen;
}

/* Child Combinator */
nav > a {
    display: block;
}

details > a {
    display: block;
}

/* General sibling combinator */
h2 ~ p {
   color: saddlebrown; 
}

/* Adjacent sibling combinator */
h2 + ol {
    color: brown;
}

/* Combining Two Selectors */
div.Meeting_content {
    background-color: aquamarine;
}

/* :has() selector for image*/
div:has(img) {
    background-color: rgb(34, 69, 34);
}

@media (min-width: 1000px) {
    body {
        background-color: lightblue;
    }
}